.chooseroomname{
    position: absolute;
    
    width: 200px;
    height: 200px;
    background: white;
    text-align: center;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;


    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    padding: 25px;
    border: solid black 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(41, 41, 41);
}

.nodisplay{

    display: none;
}

.noshow{
    display: none;
}

.rooms{
    display: flex;
   justify-content: center;
   height: fit-content;
 
}

.rooms div{
    margin: 5px;
    height: fit-content;
}

.roombutton{
    height: 40px;
    font-family: 'Staatliches', cursive;
}